In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Cars93.csv')

In [4]:
df.shape

(93, 27)

In [5]:
df.info

<bound method DataFrame.info of    Manufacturer          Model     Type  Min.Price  Price  Max.Price  \
0         Acura        Integra    Small       12.9   15.9       18.8
1         Acura         Legend  Midsize       29.2   33.9       38.7
2          Audi             90  Compact       25.9   29.1       32.3
3          Audi            100  Midsize       30.8   37.7       44.6
4           BMW           535i  Midsize       23.7   30.0       36.2
5         Buick        Century  Midsize       14.2   15.7       17.3
6         Buick        LeSabre    Large       19.9   20.8       21.7
7         Buick     Roadmaster    Large       22.6   23.7       24.9
8         Buick        Riviera  Midsize       26.3   26.3       26.3
9      Cadillac        DeVille    Large       33.0   34.7       36.3
10     Cadillac        Seville  Midsize       37.5   40.1       42.7
11    Chevrolet       Cavalier  Compact        8.5   13.4       18.3
12    Chevrolet        Corsica  Compact       11.4   11.4       11.4
13    Chevrolet         Camaro   Sporty       13.4   15.1       16.8
14    Chevrolet         Lumina  Midsize       13.4   15.9       18.4
15    Chevrolet     Lumina_APV      Van       14.7   16.3       18.0
16    Chevrolet          Astro      Van       14.7   16.6       18.6
17    Chevrolet        Caprice    Large       18.0   18.8       19.6
18    Chevrolet       Corvette   Sporty       34.6   38.0       41.5
19     Chrylser       Concorde    Large       18.4   18.4       18.4
20     Chrysler        LeBaron  Compact       14.5   15.8       17.1
21     Chrysler       Imperial    Large       29.5   29.5       29.5
22        Dodge           Colt    Small        7.9    9.2       10.6
23        Dodge         Shadow    Small        8.4   11.3       14.2
24        Dodge         Spirit  Compact       11.9   13.3       14.7
25        Dodge        Caravan      Van       13.6   19.0       24.4
26        Dodge        Dynasty  Midsize       14.8   15.6       16.4
27        Dodge        Stealth   Sporty       18.5   25.8       33.1
28        Eagle         Summit    Small        7.9   12.2       16.5
29        Eagle         Vision    Large       17.5   19.3       21.2
..          ...            ...      ...        ...    ...        ...
63       Nissan         Sentra    Small        8.7   11.8       14.9
64       Nissan         Altima  Compact       13.0   15.7       18.3
65       Nissan          Quest      Van       16.7   19.1       21.5
66       Nissan         Maxima  Midsize       21.0   21.5       22.0
67   Oldsmobile        Achieva  Compact       13.0   13.5       14.0
68   Oldsmobile  Cutlass_Ciera  Midsize       14.2   16.3       18.4
69   Oldsmobile     Silhouette      Van       19.5   19.5       19.5
70   Oldsmobile   Eighty-Eight    Large       19.5   20.7       21.9
71     Plymouth          Laser   Sporty       11.4   14.4       17.4
72      Pontiac         LeMans    Small        8.2    9.0        9.9
73      Pontiac        Sunbird  Compact        9.4   11.1       12.8
74      Pontiac       Firebird   Sporty       14.0   17.7       21.4
75      Pontiac     Grand_Prix  Midsize       15.4   18.5       21.6
76      Pontiac     Bonneville    Large       19.4   24.4       29.4
77         Saab            900  Compact       20.3   28.7       37.1
78       Saturn             SL    Small        9.2   11.1       12.9
79       Subaru          Justy    Small        7.3    8.4        9.5
80       Subaru         Loyale    Small       10.5   10.9       11.3
81       Subaru         Legacy  Compact       16.3   19.5       22.7
82       Suzuki          Swift    Small        7.3    8.6       10.0
83       Toyota         Tercel    Small        7.8    9.8       11.8
84       Toyota         Celica   Sporty       14.2   18.4       22.6
85       Toyota          Camry  Midsize       15.2   18.2       21.2
86       Toyota         Previa      Van       18.9   22.7       26.6
87   Volkswagen            Fox    Small        8.7    9.1        9.5
88   Volkswagen        Eurovan      Van       16.6   19.7       22.7
89   Volkswagen         Passat  Compact       17.6   20.0       22.4
90   Volkswagen        Corrado   Sporty       22.9   23.3       23.7
91        Volvo            240  Compact       21.8   22.7       23.5
92        Volvo            850  Midsize       24.8   26.7       28.5

    MPG.city  MPG.highway             AirBags DriveTrain  ... Passengers  \
0         25           31                None      Front  ...          5
1         18           25  Driver & Passenger      Front  ...          5
2         20           26         Driver only      Front  ...          5
3         19           26  Driver & Passenger      Front  ...          6
4         22           30         Driver only       Rear  ...          4
5         22           31         Driver only      Front  ...          6
6         19           28         Driver only      Front  ...          6
7         16           25         Driver only       Rear  ...          6
8         19           27         Driver only      Front  ...          5
9         16           25         Driver only      Front  ...          6
10        16           25  Driver & Passenger      Front  ...          5
11        25           36                None      Front  ...          5
12        25           34         Driver only      Front  ...          5
13        19           28  Driver & Passenger       Rear  ...          4
14        21           29                None      Front  ...          6
15        18           23                None      Front  ...          7
16        15           20                None        4WD  ...          8
17        17           26         Driver only       Rear  ...          6
18        17           25         Driver only       Rear  ...          2
19        20           28  Driver & Passenger      Front  ...          6
20        23           28  Driver & Passenger      Front  ...          6
21        20           26         Driver only      Front  ...          6
22        29           33                None      Front  ...          5
23        23           29         Driver only      Front  ...          5
24        22           27         Driver only      Front  ...          6
25        17           21         Driver only        4WD  ...          7
26        21           27         Driver only      Front  ...          6
27        18           24         Driver only        4WD  ...          4
28        29           33                None      Front  ...          5
29        20           28  Driver & Passenger      Front  ...          6
..       ...          ...                 ...        ...  ...        ...
63        29           33         Driver only      Front  ...          5
64        24           30         Driver only      Front  ...          5
65        17           23                None      Front  ...          7
66        21           26         Driver only      Front  ...          5
67        24           31                None      Front  ...          5
68        23           31         Driver only      Front  ...          5
69        18           23                None      Front  ...          7
70        19           28         Driver only      Front  ...          6
71        23           30                None        4WD  ...          4
72        31           41                None      Front  ...          4
73        23           31                None      Front  ...          5
74        19           28  Driver & Passenger       Rear  ...          4
75        19           27                None      Front  ...          5
76        19           28  Driver & Passenger      Front  ...          6
77        20           26         Driver only      Front  ...          5
78        28           38         Driver only      Front  ...          5
79        33           37                None        4WD  ...          4
80        25           30                None        4WD  ...          5
81        23           30         Driver only        4WD  ...          5
82        39           43                None      Front  ...          4
83        32           37         Driver only      Front  ...          5
84        25           32         Driver only      Front  ...          4
85        22           29         Driver only      Front  ...          5
86        18           22         Driver only        4WD  ...          7
87        25           33                None      Front  ...          4
88        17           21                None      Front  ...          7
89        21           30                None      Front  ...          5
90        18           25                None      Front  ...          4
91        21           28         Driver only       Rear  ...          5
92        20           28  Driver & Passenger      Front  ...          5

    Length  Wheelbase  Width  Turn.circle Rear.seat.room  Luggage.room  \
0      177        102     68           37           26.5          11.0
1      195        115     71           38           30.0          15.0
2      180        102     67           37           28.0          14.0
3      193        106     70           37           31.0          17.0
4      186        109     69           39           27.0          13.0
5      189        105     69           41           28.0          16.0
6      200        111     74           42           30.5          17.0
7      216        116     78           45           30.5          21.0
8      198        108     73           41           26.5          14.0
9      206        114     73           43           35.0          18.0
10     204        111     74           44           31.0          14.0
11     182        101     66           38           25.0          13.0
12     184        103     68           39           26.0          14.0
13     193        101     74           43           25.0          13.0
14     198        108     71           40           28.5          16.0
15     178        110     74           44           30.5           NaN
16     194        111     78           42           33.5           NaN
17     214        116     77           42           29.5          20.0
18     179         96     74           43            NaN           NaN
19     203        113     74           40           31.0          15.0
20     183        104     68           41           30.5          14.0
21     203        110     69           44           36.0          17.0
22     174         98     66           32           26.5          11.0
23     172         97     67           38           26.5          13.0
24     181        104     68           39           30.5          14.0
25     175        112     72           42           26.5           NaN
26     192        105     69           42           30.5          16.0
27     180         97     72           40           20.0          11.0
28     174         98     66           36           26.5          11.0
29     202        113     74           40           30.0          15.0
..     ...        ...    ...          ...            ...           ...
63     170         96     66           33           26.0          12.0
64     181        103     67           40           28.5          14.0
65     190        112     74           41           27.0           NaN
66     188        104     69           41           28.5          14.0
67     188        103     67           39           28.0          14.0
68     190        105     70           42           28.0          16.0
69     194        110     74           44           30.5           NaN
70     201        111     74           42           31.5          17.0
71     173         97     67           39           24.5           8.0
72     177         99     66           35           25.5          17.0
73     181        101     66           39           25.0          13.0
74     196        101     75           43           25.0          13.0
75     195        108     72           41           28.5          16.0
76     177        111     74           43           30.5          18.0
77     184         99     67           37           26.5          14.0
78     176        102     68           40           26.5          12.0
79     146         90     60           32           23.5          10.0
80     175         97     65           35           27.5          15.0
81     179        102     67           37           27.0          14.0
82     161         93     63           34           27.5          10.0
83     162         94     65           36           24.0          11.0
84     174         99     69           39           23.0          13.0
85     188        103     70           38           28.5          15.0
86     187        113     71           41           35.0           NaN
87     163         93     63           34           26.0          10.0
88     187        115     72           38           34.0           NaN
89     180        103     67           35           31.5          14.0
90     159         97     66           36           26.0          15.0
91     190        104     67           37           29.5          14.0
92     184        105     69           38           30.0          15.0

    Weight   Origin                      Make
0     2705  non-USA             Acura Integra
1     3560  non-USA              Acura Legend
2     3375  non-USA                   Audi 90
3     3405  non-USA                  Audi 100
4     3640  non-USA                  BMW 535i
5     2880      USA             Buick Century
6     3470      USA             Buick LeSabre
7     4105      USA          Buick Roadmaster
8     3495      USA             Buick Riviera
9     3620      USA          Cadillac DeVille
10    3935      USA          Cadillac Seville
11    2490      USA        Chevrolet Cavalier
12    2785      USA         Chevrolet Corsica
13    3240      USA          Chevrolet Camaro
14    3195      USA          Chevrolet Lumina
15    3715      USA      Chevrolet Lumina_APV
16    4025      USA           Chevrolet Astro
17    3910      USA         Chevrolet Caprice
18    3380      USA        Chevrolet Corvette
19    3515      USA         Chrylser Concorde
20    3085      USA          Chrysler LeBaron
21    3570      USA         Chrysler Imperial
22    2270      USA                Dodge Colt
23    2670      USA              Dodge Shadow
24    2970      USA              Dodge Spirit
25    3705      USA             Dodge Caravan
26    3080      USA             Dodge Dynasty
27    3805      USA             Dodge Stealth
28    2295      USA              Eagle Summit
29    3490      USA              Eagle Vision
..     ...      ...                       ...
63    2545  non-USA             Nissan Sentra
64    3050  non-USA             Nissan Altima
65    4100  non-USA              Nissan Quest
66    3200  non-USA             Nissan Maxima
67    2910      USA        Oldsmobile Achieva
68    2890      USA  Oldsmobile Cutlass_Ciera
69    3715      USA     Oldsmobile Silhouette
70    3470      USA   Oldsmobile Eighty-Eight
71    2640      USA            Plymouth Laser
72    2350      USA            Pontiac LeMans
73    2575      USA           Pontiac Sunbird
74    3240      USA          Pontiac Firebird
75    3450      USA        Pontiac Grand_Prix
76    3495      USA        Pontiac Bonneville
77    2775  non-USA                  Saab 900
78    2495      USA                 Saturn SL
79    2045  non-USA              Subaru Justy
80    2490  non-USA             Subaru Loyale
81    3085  non-USA             Subaru Legacy
82    1965  non-USA              Suzuki Swift
83    2055  non-USA             Toyota Tercel
84    2950  non-USA             Toyota Celica
85    3030  non-USA              Toyota Camry
86    3785  non-USA             Toyota Previa
87    2240  non-USA            Volkswagen Fox
88    3960  non-USA        Volkswagen Eurovan
89    2985  non-USA         Volkswagen Passat
90    2810  non-USA        Volkswagen Corrado
91    2985  non-USA                 Volvo 240
92    3245  non-USA                 Volvo 850

[93 rows x 27 columns]>

In [6]:
df.columns

Index(['Manufacturer', 'Model', 'Type', 'Min.Price', 'Price', 'Max.Price',
       'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Man.trans.avail',
       'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

# subsetting a dataframe

In [7]:
df[:5]

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,Front,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,Audi,100,Midsize,30.8,37.7,44.6,19,26,Driver & Passenger,Front,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,Rear,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i

In [8]:
df["Price"]

0     15.9
1     33.9
2     29.1
3     37.7
4     30.0
5     15.7
6     20.8
7     23.7
8     26.3
9     34.7
10    40.1
11    13.4
12    11.4
13    15.1
14    15.9
15    16.3
16    16.6
17    18.8
18    38.0
19    18.4
20    15.8
21    29.5
22     9.2
23    11.3
24    13.3
25    19.0
26    15.6
27    25.8
28    12.2
29    19.3
      ...
63    11.8
64    15.7
65    19.1
66    21.5
67    13.5
68    16.3
69    19.5
70    20.7
71    14.4
72     9.0
73    11.1
74    17.7
75    18.5
76    24.4
77    28.7
78    11.1
79     8.4
80    10.9
81    19.5
82     8.6
83     9.8
84    18.4
85    18.2
86    22.7
87     9.1
88    19.7
89    20.0
90    23.3
91    22.7
92    26.7
Name: Price, Length: 93, dtype: float64

In [12]:
df.loc[[0,3],['Price','Passengers']]

   Price  Passengers
0   15.9           5
3   37.7           6

In [14]:
df.iloc[[0,3],[4,17]]

   Price  Passengers
0   15.9           5
3   37.7           6

In [16]:
df[df.Price>40]

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
10,Cadillac,Seville,Midsize,37.5,40.1,42.7,16,25,Driver & Passenger,Front,...,5,204,111,74,44,31.0,14.0,3935,USA,Cadillac Seville
47,Infiniti,Q45,Midsize,45.4,47.9,50.4,17,22,Driver only,Rear,...,5,200,113,72,42,29.0,15.0,4000,non-USA,Infiniti Q45
58,Mercedes-Benz,300E,Midsize,43.8,61.9,80.0,19,25,Driver & Passenger,Rear,...,5,187,110,69,37,27.0,15.0,3525,non-USA,Mercedes-Benz 300E

In [17]:
df.Model[df.Price>40]

10    Seville
47        Q45
58       300E
Name: Model, dtype: object

In [18]:
df[df.Price>40]['Model']

10    Seville
47        Q45
58       300E
Name: Model, dtype: object

In [19]:
df.Price.describe()

count    93.000000
mean     19.509677
std       9.659430
min       7.400000
25%      12.200000
50%      17.700000
75%      23.300000
max      61.900000
Name: Price, dtype: float64

In [20]:
df[['Price','MPG.city']].describe()

           Price   MPG.city
count  93.000000  93.000000
mean   19.509677  22.365591
std     9.659430   5.619812
min     7.400000  15.000000
25%    12.200000  18.000000
50%    17.700000  21.000000
75%    23.300000  25.000000
max    61.900000  46.000000

In [26]:
df[(df.Price<10)&(df['MPG.city']>30)]

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
30,Ford,Festiva,Small,6.9,7.4,7.9,31,33,None,Front,...,4,141,90,63,33,26.0,12.0,1845,USA,Ford Festiva
38,Geo,Metro,Small,6.7,8.4,10.0,46,50,None,Front,...,4,151,93,63,34,27.5,10.0,1695,non-USA,Geo Metro
72,Pontiac,LeMans,Small,8.2,9.0,9.9,31,41,None,Front,...,4,177,99,66,35,25.5,17.0,2350,USA,Pontiac LeMans
79,Subaru,Justy,Small,7.3,8.4,9.5,33,37,None,4WD,...,4,146,90,60,32,23.5,10.0,2045,non-USA,Subaru Justy
82,Suzuki,Swift,Small,7.3,8.6,10.0,39,43,None,Front,...,4,161,93,63,34,27.5,10.0,1965,non-USA,Suzuki Swift
83,Toyota,Tercel,Small,7.8,9.8,11.8,32,37,Driver only,Front,...,5,162,94,65,36,24.0,11.0,2055,non-USA,Toyota Tercel

In [27]:
df[(df.Price<10)&(df['MPG.city']>30)][['Model','Price']]

      Model  Price
30  Festiva    7.4
38    Metro    8.4
72   LeMans    9.0
79    Justy    8.4
82    Swift    8.6
83   Tercel    9.8

# working with NA values

In [29]:
df.isna().any()

Manufacturer          False
Model                 False
Type                  False
Min.Price             False
Price                 False
Max.Price             False
MPG.city              False
MPG.highway           False
AirBags               False
DriveTrain            False
Cylinders             False
EngineSize            False
Horsepower            False
RPM                   False
Rev.per.mile          False
Man.trans.avail       False
Fuel.tank.capacity    False
Passengers            False
Length                False
Wheelbase             False
Width                 False
Turn.circle           False
Rear.seat.room         True
Luggage.room           True
Weight                False
Origin                False
Make                  False
dtype: bool

In [30]:
df.columns[df.isna().any()]

Index(['Rear.seat.room', 'Luggage.room'], dtype='object')

In [31]:
df.isna().sum()

Manufacturer           0
Model                  0
Type                   0
Min.Price              0
Price                  0
Max.Price              0
MPG.city               0
MPG.highway            0
AirBags                0
DriveTrain             0
Cylinders              0
EngineSize             0
Horsepower             0
RPM                    0
Rev.per.mile           0
Man.trans.avail        0
Fuel.tank.capacity     0
Passengers             0
Length                 0
Wheelbase              0
Width                  0
Turn.circle            0
Rear.seat.room         2
Luggage.room          11
Weight                 0
Origin                 0
Make                   0
dtype: int64

In [33]:
df2 = df.loc[:, df.isna().any()]

In [34]:
df2.columns

Index(['Rear.seat.room', 'Luggage.room'], dtype='object')

In [35]:
index1 = df.columns[df.isna().any()]

In [36]:
df[df.isna().any(axis=1)][index1]

    Rear.seat.room  Luggage.room
15            30.5           NaN
16            33.5           NaN
18             NaN           NaN
25            26.5           NaN
35            30.0           NaN
55            27.5           NaN
56             NaN           NaN
65            27.0           NaN
69            30.5           NaN
86            35.0           NaN
88            34.0           NaN

In [37]:
df[df.isna().any(axis=1)]

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
15,Chevrolet,Lumina_APV,Van,14.7,16.3,18.0,18,23,None,Front,...,7,178,110,74,44,30.5,NaN,3715,USA,Chevrolet Lumina_APV
16,Chevrolet,Astro,Van,14.7,16.6,18.6,15,20,None,4WD,...,8,194,111,78,42,33.5,NaN,4025,USA,Chevrolet Astro
18,Chevrolet,Corvette,Sporty,34.6,38.0,41.5,17,25,Driver only,Rear,...,2,179,96,74,43,NaN,NaN,3380,USA,Chevrolet Corvette
25,Dodge,Caravan,Van,13.6,19.0,24.4,17,21,Driver only,4WD,...,7,175,112,72,42,26.5,NaN,3705,USA,Dodge Caravan
35,Ford,Aerostar,Van,14.5,19.9,25.3,15,20,Driver only,4WD,...,7,176,119,72,45,30.0,NaN,3735,USA,Ford Aerostar
55,Mazda,MPV,Van,16.6,19.1,21.7,18,24,None,4WD,...,7,190,110,72,39,27.5,NaN,3735,non-USA,Mazda MPV
56,Mazda,RX-7,Sporty,32.5,32.5,32.5,17,25,Driver only,Rear,...,2,169,96,69,37,NaN,NaN,2895,non-USA,Mazda RX-7
65,Nissan,Quest,Van,16.7,19.1,21.5,17,23,None,Front,...,7,190,112,74,41,27.0,NaN,4100,non-USA,Nissan Quest
69,Oldsmobile,Silhouette,Van,19.5,19.5,19.5,18,23,None,Front,...,7,194,110,74,44,30.5,NaN,3715,USA,Oldsmobile Silhouette
86,Toyota,Previa,Van,18.9,22.7,26.6,18,22,Driver only,4WD,...,7,187,113,71,41,35.0,NaN,3785,non-USA,Toyota Previa
88,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17,21,None,Front,...,7,187,115,72,38,34.0,NaN,3960,non-USA,Volkswagen Eurovan

In [38]:
df3 = df.dropna()

In [39]:
df3.shape

(82, 27)

# pivot tables

In [40]:
print(df.DriveTrain.unique())

['Front' 'Rear' '4WD']

In [41]:
df.pivot_table('Price',index='DriveTrain')

                Price
DriveTrain
4WD         17.630000
Front       17.535821
Rear        28.950000

In [42]:
df.pivot_table('Price',index='DriveTrain',columns='AirBags',aggfunc=np.median)

AirBags     Driver & Passenger  Driver only   None
DriveTrain
4WD                        NaN        19.90  14.40
Front                     24.4        16.40  11.45
Rear                      35.2        26.85  14.90

# cross tabulation

In [43]:
pd.value_counts(df.DriveTrain)

Front    67
Rear     16
4WD      10
Name: DriveTrain, dtype: int64

In [44]:
pd.crosstab(df.DriveTrain,df.AirBags)

AirBags     Driver & Passenger  Driver only  None
DriveTrain
4WD                          0            5     5
Front                       11           28    28
Rear                         5           10     1

In [45]:
pd.crosstab(df.DriveTrain,df.AirBags,margins=True)

AirBags     Driver & Passenger  Driver only  None  All
DriveTrain
4WD                          0            5     5   10
Front                       11           28    28   67
Rear                         5           10     1   16
All                         16           43    34   93

# groupby

In [47]:
df.groupby('DriveTrain')['Price'].agg('mean')

DriveTrain
4WD      17.630000
Front    17.535821
Rear     28.950000
Name: Price, dtype: float64

In [48]:
series1 = df.groupby('DriveTrain')['Price'].agg('mean')

In [49]:
series1

DriveTrain
4WD      17.630000
Front    17.535821
Rear     28.950000
Name: Price, dtype: float64

In [52]:
df4 = series1.to_frame()

In [53]:
df4

                Price
DriveTrain
4WD         17.630000
Front       17.535821
Rear        28.950000

In [54]:
def myrange(array):
    return array.max()-array.min()

In [57]:
df.groupby('DriveTrain')['MPG.city','MPG.highway'].agg([np.mean,myrange])

             MPG.city         MPG.highway
                 mean myrange        mean myrange
DriveTrain
4WD         20.500000      18   25.800000      17
Front       23.522388      30   30.238806      29
Rear        18.687500       6   26.312500       8

In [58]:
df.groupby('DriveTrain').agg([np.mean,myrange])

            Min.Price              Price          Max.Price          \
                 mean myrange       mean myrange       mean myrange
DriveTrain
4WD         14.230000    11.6  17.630000    17.4  21.060000    23.6
Front       15.473134    30.8  17.535821    32.7  19.601493    36.7
Rear        25.856250    34.6  28.950000    47.0  32.043750    65.1

             MPG.city         MPG.highway          ...      Width          \
                 mean myrange        mean myrange  ...       mean myrange
DriveTrain                                         ...
4WD         20.500000      18   25.800000      17  ...  69.600000      18
Front       23.522388      30   30.238806      29  ...  68.626866      11
Rear        18.687500       6   26.312500       8  ...  72.375000      11

           Turn.circle         Rear.seat.room         Luggage.room          \
                  mean myrange           mean myrange         mean myrange
DriveTrain
4WD          39.200000      13      27.500000    15.0    11.600000     7.0
Front        38.567164      12      27.917910    17.0    13.746032    13.0
Rear         40.437500      11      27.642857     7.5    15.357143    13.0

                 Weight
                   mean myrange
DriveTrain
4WD         3305.000000    1980
Front       2938.955224    2405
Rear        3488.750000    1255

[3 rows x 36 columns]

# numerical columns

In [59]:
df.describe()

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight
count,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,91.000000,82.000000,93.000000
mean,17.125806,19.509677,21.898925,22.365591,29.086022,2.667742,143.827957,5280.645161,2332.204301,16.664516,5.086022,183.204301,103.946237,69.376344,38.956989,27.829670,13.890244,3072.903226
std,8.746029,9.659430,11.030457,5.619812,5.331726,1.037363,52.374410,596.731690,496.506525,3.279370,1.038979,14.602382,6.819674,3.778986,3.223265,2.989072,2.997967,589.896510
min,6.700000,7.400000,7.900000,15.000000,20.000000,1.000000,55.000000,3800.000000,1320.000000,9.200000,2.000000,141.000000,90.000000,60.000000,32.000000,19.000000,6.000000,1695.000000
25%,10.800000,12.200000,14.700000,18.000000,26.000000,1.800000,103.000000,4800.000000,1985.000000,14.500000,4.000000,174.000000,98.000000,67.000000,37.000000,26.000000,12.000000,2620.000000
50%,14.700000,17.700000,19.600000,21.000000,28.000000,2.400000,140.000000,5200.000000,2340.000000,16.400000,5.000000,183.000000,103.000000,69.000000,39.000000,27.500000,14.000000,3040.000000
75%,20.300000,23.300000,25.300000,25.000000,31.000000,3.300000,170.000000,5750.000000,2565.000000,18.800000,6.000000,192.000000,110.000000,72.000000,41.000000,30.000000,15.000000,3525.000000
max,45.400000,61.900000,80.000000,46.000000,50.000000,5.700000,300.000000,6500.000000,3755.000000,27.000000,8.000000,219.000000,119.000000,78.000000,45.000000,36.000000,22.000000,4105.000000

In [61]:
df.describe().shape

(8, 18)

In [62]:
df['Price'].describe()

count    93.000000
mean     19.509677
std       9.659430
min       7.400000
25%      12.200000
50%      17.700000
75%      23.300000
max      61.900000
Name: Price, dtype: float64

In [64]:
df['Price'].quantile(0.75)

23.3

In [65]:
np.around(df.describe(),2)

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight
count,93.00,93.00,93.00,93.00,93.00,93.00,93.00,93.00,93.00,93.00,93.00,93.0,93.00,93.00,93.00,91.00,82.00,93.0
mean,17.13,19.51,21.90,22.37,29.09,2.67,143.83,5280.65,2332.20,16.66,5.09,183.2,103.95,69.38,38.96,27.83,13.89,3072.9
std,8.75,9.66,11.03,5.62,5.33,1.04,52.37,596.73,496.51,3.28,1.04,14.6,6.82,3.78,3.22,2.99,3.00,589.9
min,6.70,7.40,7.90,15.00,20.00,1.00,55.00,3800.00,1320.00,9.20,2.00,141.0,90.00,60.00,32.00,19.00,6.00,1695.0
25%,10.80,12.20,14.70,18.00,26.00,1.80,103.00,4800.00,1985.00,14.50,4.00,174.0,98.00,67.00,37.00,26.00,12.00,2620.0
50%,14.70,17.70,19.60,21.00,28.00,2.40,140.00,5200.00,2340.00,16.40,5.00,183.0,103.00,69.00,39.00,27.50,14.00,3040.0
75%,20.30,23.30,25.30,25.00,31.00,3.30,170.00,5750.00,2565.00,18.80,6.00,192.0,110.00,72.00,41.00,30.00,15.00,3525.0
max,45.40,61.90,80.00,46.00,50.00,5.70,300.00,6500.00,3755.00,27.00,8.00,219.0,119.00,78.00,45.00,36.00,22.00,4105.0

In [66]:
df3=df._get_numeric_data()

In [67]:
df3

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight
0,12.9,15.9,18.8,25,31,1.8,140,6300,2890,13.2,5,177,102,68,37,26.5,11.0,2705
1,29.2,33.9,38.7,18,25,3.2,200,5500,2335,18.0,5,195,115,71,38,30.0,15.0,3560
2,25.9,29.1,32.3,20,26,2.8,172,5500,2280,16.9,5,180,102,67,37,28.0,14.0,3375
3,30.8,37.7,44.6,19,26,2.8,172,5500,2535,21.1,6,193,106,70,37,31.0,17.0,3405
4,23.7,30.0,36.2,22,30,3.5,208,5700,2545,21.1,4,186,109,69,39,27.0,13.0,3640
5,14.2,15.7,17.3,22,31,2.2,110,5200,2565,16.4,6,189,105,69,41,28.0,16.0,2880
6,19.9,20.8,21.7,19,28,3.8,170,4800,1570,18.0,6,200,111,74,42,30.5,17.0,3470
7,22.6,23.7,24.9,16,25,5.7,180,4000,1320,23.0,6,216,116,78,45,30.5,21.0,4105
8,26.3,26.3,26.3,19,27,3.8,170,4800,1690,18.8,5,198,108,73,41,26.5,14.0,3495
9,33.0,34.7,36.3,16,25,4.9,200,4100,1510,18.0,6,206,114,73,43,35.0,18.0,3620
10,37.5,40.1,42.7,16,25,4.6,295,6000,1985,20.0,5,204,111,74,44,31.0,14.0,3935
11,8.5,13.4,18.3,25,36,2.2,110,5200,2380,15.2,5,182,101,66,38,25.0,13.0,2490
12,11.4,11.4,11.4,25,34,2.2,110,5200,2665,15.6,5,184,103,68,39,26.0,14.0,2785
13,13.4,15.1,16.8,19,28,3.4,160,4600,1805,15.5,4,193,101,74,43,25.0,13.0,3240
14,13.4,15.9,18.4,21,29,2.2,110,5200,2595,16.5,6,198,108,71,40,28.5,16.0,3195
15,14.7,16.3,18.0,18,23,3.8,170,4800,1690,20.0,7,178,110,74,44,30.5,NaN,3715
16,14.7,16.6,18.6,15,20,4.3,165,4000,1790,27.0,8,194,111,78,42,33.5,NaN,4025
17,18.0,18.8,19.6,17,26,5.0,170,4200,1350,23.0,6,214,116,77,42,29.5,20.0,3910
18,34.6,38.0,41.5,17,25,5.7,300,5000,1450,20.0,2,179,96,74,43,NaN,NaN,3380
19,18.4,18.4,18.4,20,28,3.3,153,5300,1990,18.0,6,203,113,74,40,31.0,15.0,3515
20,14.5,15.8,17.1,23,28,3.0,141,5000,2090,16.0,6,183,104,68,41,30.5,14.0,3085
21,29.5,29.5,29.5,20,26,3.3,147,4800,1785,16.0,6,203,110,69,44,36.0,17.0,3570
22,7.9,9.2,10.6,29,33,1.5,92,6000,3285,13.2,5,174,98,66,32,26.5,11.0,2270
23,8.4,11.3,14.2,23,29,2.2,93,4800,2595,14.0,5,172,97,67,38,26.5,13.0,2670
24,11.9,13.3,14.7,22,27,2.5,100,4800,2535,16.0,6,181,104,68,39,30.5,14.0,2970
25,13.6,19.0,24.4,17,21,3.0,142,5000,1970,20.0,7,175,112,72,42,26.5,NaN,3705
26,14.8,15.6,16.4,21,27,2.5,100,4800,2465,16.0,6,192,105,69,42,30.5,16.0,3080
27,18.5,25.8,33.1,18,24,3.0,300,6000,2120,19.8,4,180,97,72,40,20.0,11.0,3805
28,7.9,12.2,16.5,29,33,1.5,92,6000,2505,13.2,5,174,98,66,36,26.5,11.0,2295
29,17.5,19.3,21.2,20,28,3.5,214,5800,1980,18.0,6,202,113,74,40,30.0,15.0,3490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,8.7,11.8,14.9,29,33,1.6,110,6000,2435,13.2,5,170,96,66,33,26.0,12.0,2545
64,13.0,15.7,18.3,24,30,2.4,150,5600,2130,15.9,5,181,103,67,40,28.5,14.0,3050
65,16.7,19.1,21.5,17,23,3.0,151,4800,2065,20.0,7,190,112,74,41,27.0,NaN,4100
66,21.0,21.5,22.0,21,26,3.0,160,5200,2045,18.5,5,188,104,69,41,28.5,14.0,3200
67,13.0,13.5,14.0,24,31,2.3,155,6000,2380,15.2,5,188,103,67,39,28.0,14.0,2910
68,14.2,16.3,18.4,23,31,2.2,110,5200,2565,16.5,5,190,105,70,42,28.0,16.0,2890
69,19.5,19.5,19.5,18,23,3.8,170,4800,1690,20.0,7,194,110,74,44,30.5,NaN,3715
70,19.5,20.7,21.9,19,28,3.8,170,4800,1570,18.0,6,201,111,74,42,31.5,17.0,3470
71,11.4,14.4,17.4,23,30,1.8,92,5000,2360,15.9,4,173,97,67,39,24.5,8.0,2640
72,8.2,9.0,9.9,31,41,1.6,74,5600,3130,13.2,4,177,99,66,35,25.5,17.0,2350
73,9.4,11.1,12.8,23,31,2.0,110,5200,2665,15.2,5,181,101,66,39,25.0,13.0,2575
74,14.0,17.7,21.4,19,28,3.4,160,4600,1805,15.5,4,196,101,75,43,25.0,13.0,3240
75,15.4,18.5,21.6,19,27,3.4,200,5000,1890,16.5,5,195,108,72,41,28.5,16.0,3450
76,19.4,24.4,29.4,19,28,3.8,170,4800,1565,18.0,6,177,111,74,43,30.5,18.0,3495
77,20.3,28.7,37.1,20,26,2.1,140,6000,2910,18.0,5,184,99,67,37,26.5,14.0,2775
78,9.2,11.1,12.9,28,38,1.9,85,5000,2145,12.8,5,176,102,68,40,26.5,12.0,2495
79,7.3,8.4,9.5,33,37,1.2,73,5600,2875,9.2,4,146,90,60,32,23.5,10.0,2045
80,10.5,10.9,11.3,25,30,1.8,90,5200,3375,15.9,5,175,97,65,35,27.5,15.0,2490
81,16.3,19.5,22.7,23,30,2.2,130,5600,2330,15.9,5,179,102,67,37,27.0,14.0,3085
82,7.3,8.6,10.0,39,43,1.3,70,6000,3360,10.6,4,161,93,63,34,27.5,10.0,1965
83,7.8,9.8,11.8,32,37,1.5,82,5200,3505,11.9,5,162,94,65,36,24.0,11.0,2055
84,14.2,18.4,22.6,25,32,2.2,135,5400,2405,15.9,4,174,99,69,39,23.0,13.0,2950
85,15.2,18.2,21.2,22,29,2.2,130,5400,2340,18.5,5,188,103,70,38,28.5,15.0,3030
86,18.9,22.7,26.6,18,22,2.4,138,5000,2515,19.8,7,187,113,71,41,35.0,NaN,3785
87,8.7,9.1,9.5,25,33,1.8,81,5500,2550,12.4,4,163,93,63,34,26.0,10.0,2240
88,16.6,19.7,22.7,17,21,2.5,109,4500,2915,21.1,7,187,115,72,38,34.0,NaN,3960
89,17.6,20.0,22.4,21,30,2.0,134,5800,2685,18.5,5,180,103,67,35,31.5,14.0,2985
90,22.9,23.3,23.7,18,25,2.8,178,5800,2385,18.5,4,159,97,66,36,26.0,15.0,2810
91,21.8,22.7,23.5,21,28,2.3,114,5400,2215,15.8,5,190,104,67,37,29.5,14.0,2985
92,24.8,26.7,28.5,20,28,2.4,168,6200,2310,19.3,5,184,105,69,38,30.0,15.0,3245

# sorting

In [68]:
df.sort_values(by = 'Price')[:9]

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
30,Ford,Festiva,Small,6.9,7.4,7.9,31,33,None,Front,...,4,141,90,63,33,26.0,12.0,1845,USA,Ford Festiva
43,Hyundai,Excel,Small,6.8,8.0,9.2,29,33,None,Front,...,5,168,94,63,35,26.0,11.0,2345,non-USA,Hyundai Excel
52,Mazda,323,Small,7.4,8.3,9.1,29,37,None,Front,...,4,164,97,66,34,27.0,16.0,2325,non-USA,Mazda 323
38,Geo,Metro,Small,6.7,8.4,10.0,46,50,None,Front,...,4,151,93,63,34,27.5,10.0,1695,non-USA,Geo Metro
79,Subaru,Justy,Small,7.3,8.4,9.5,33,37,None,4WD,...,4,146,90,60,32,23.5,10.0,2045,non-USA,Subaru Justy
82,Suzuki,Swift,Small,7.3,8.6,10.0,39,43,None,Front,...,4,161,93,63,34,27.5,10.0,1965,non-USA,Suzuki Swift
72,Pontiac,LeMans,Small,8.2,9.0,9.9,31,41,None,Front,...,4,177,99,66,35,25.5,17.0,2350,USA,Pontiac LeMans
87,Volkswagen,Fox,Small,8.7,9.1,9.5,25,33,None,Front,...,4,163,93,63,34,26.0,10.0,2240,non-USA,Volkswagen Fox
22,Dodge,Colt,Small,7.9,9.2,10.6,29,33,None,Front,...,5,174,98,66,32,26.5,11.0,2270,USA,Dodge Colt

In [69]:
df.sort_values(by='Price')[-9:]

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
50,Lincoln,Continental,Midsize,33.3,34.3,35.3,17,26,Driver & Passenger,Front,...,6,205,109,73,42,30.0,19.0,3695,USA,Lincoln Continental
9,Cadillac,DeVille,Large,33.0,34.7,36.3,16,25,Driver only,Front,...,6,206,114,73,43,35.0,18.0,3620,USA,Cadillac DeVille
49,Lexus,SC300,Midsize,34.7,35.2,35.6,18,23,Driver & Passenger,Rear,...,4,191,106,71,39,25.0,9.0,3515,non-USA,Lexus SC300
51,Lincoln,Town_Car,Large,34.4,36.1,37.8,18,26,Driver & Passenger,Rear,...,6,219,117,77,45,31.5,22.0,4055,USA,Lincoln Town_Car
3,Audi,100,Midsize,30.8,37.7,44.6,19,26,Driver & Passenger,Front,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
18,Chevrolet,Corvette,Sporty,34.6,38.0,41.5,17,25,Driver only,Rear,...,2,179,96,74,43,NaN,NaN,3380,USA,Chevrolet Corvette
10,Cadillac,Seville,Midsize,37.5,40.1,42.7,16,25,Driver & Passenger,Front,...,5,204,111,74,44,31.0,14.0,3935,USA,Cadillac Seville
47,Infiniti,Q45,Midsize,45.4,47.9,50.4,17,22,Driver only,Rear,...,5,200,113,72,42,29.0,15.0,4000,non-USA,Infiniti Q45
58,Mercedes-Benz,300E,Midsize,43.8,61.9,80.0,19,25,Driver & Passenger,Rear,...,5,187,110,69,37,27.0,15.0,3525,non-USA,Mercedes-Benz 300E

In [70]:
df.sort_values(by = 'Price',ascending=False)[:9]

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
58,Mercedes-Benz,300E,Midsize,43.8,61.9,80.0,19,25,Driver & Passenger,Rear,...,5,187,110,69,37,27.0,15.0,3525,non-USA,Mercedes-Benz 300E
47,Infiniti,Q45,Midsize,45.4,47.9,50.4,17,22,Driver only,Rear,...,5,200,113,72,42,29.0,15.0,4000,non-USA,Infiniti Q45
10,Cadillac,Seville,Midsize,37.5,40.1,42.7,16,25,Driver & Passenger,Front,...,5,204,111,74,44,31.0,14.0,3935,USA,Cadillac Seville
18,Chevrolet,Corvette,Sporty,34.6,38.0,41.5,17,25,Driver only,Rear,...,2,179,96,74,43,NaN,NaN,3380,USA,Chevrolet Corvette
3,Audi,100,Midsize,30.8,37.7,44.6,19,26,Driver & Passenger,Front,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
51,Lincoln,Town_Car,Large,34.4,36.1,37.8,18,26,Driver & Passenger,Rear,...,6,219,117,77,45,31.5,22.0,4055,USA,Lincoln Town_Car
49,Lexus,SC300,Midsize,34.7,35.2,35.6,18,23,Driver & Passenger,Rear,...,4,191,106,71,39,25.0,9.0,3515,non-USA,Lexus SC300
9,Cadillac,DeVille,Large,33.0,34.7,36.3,16,25,Driver only,Front,...,6,206,114,73,43,35.0,18.0,3620,USA,Cadillac DeVille
50,Lincoln,Continental,Midsize,33.3,34.3,35.3,17,26,Driver & Passenger,Front,...,6,205,109,73,42,30.0,19.0,3695,USA,Lincoln Continental

In [71]:
df.sort_values(by = ['Price','MPG.city'],ascending=[True,False])[:9]

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
30,Ford,Festiva,Small,6.9,7.4,7.9,31,33,None,Front,...,4,141,90,63,33,26.0,12.0,1845,USA,Ford Festiva
43,Hyundai,Excel,Small,6.8,8.0,9.2,29,33,None,Front,...,5,168,94,63,35,26.0,11.0,2345,non-USA,Hyundai Excel
52,Mazda,323,Small,7.4,8.3,9.1,29,37,None,Front,...,4,164,97,66,34,27.0,16.0,2325,non-USA,Mazda 323
38,Geo,Metro,Small,6.7,8.4,10.0,46,50,None,Front,...,4,151,93,63,34,27.5,10.0,1695,non-USA,Geo Metro
79,Subaru,Justy,Small,7.3,8.4,9.5,33,37,None,4WD,...,4,146,90,60,32,23.5,10.0,2045,non-USA,Subaru Justy
82,Suzuki,Swift,Small,7.3,8.6,10.0,39,43,None,Front,...,4,161,93,63,34,27.5,10.0,1965,non-USA,Suzuki Swift
72,Pontiac,LeMans,Small,8.2,9.0,9.9,31,41,None,Front,...,4,177,99,66,35,25.5,17.0,2350,USA,Pontiac LeMans
87,Volkswagen,Fox,Small,8.7,9.1,9.5,25,33,None,Front,...,4,163,93,63,34,26.0,10.0,2240,non-USA,Volkswagen Fox
22,Dodge,Colt,Small,7.9,9.2,10.6,29,33,None,Front,...,5,174,98,66,32,26.5,11.0,2270,USA,Dodge Colt

# groupby and apply

In [72]:
def top5 (df,n=5,column = 'Price'):
    return df.sort_values(by=column)[-n:]

In [73]:
df.groupby('DriveTrain').apply(top5)

                Manufacturer        Model     Type  Min.Price  Price  \
DriveTrain
4WD        55          Mazda          MPV      Van       16.6   19.1
           81         Subaru       Legacy  Compact       16.3   19.5
           35           Ford     Aerostar      Van       14.5   19.9
           86         Toyota       Previa      Van       18.9   22.7
           27          Dodge      Stealth   Sporty       18.5   25.8
Front      1           Acura       Legend  Midsize       29.2   33.9
           50        Lincoln  Continental  Midsize       33.3   34.3
           9        Cadillac      DeVille    Large       33.0   34.7
           3            Audi          100  Midsize       30.8   37.7
           10       Cadillac      Seville  Midsize       37.5   40.1
Rear       49          Lexus        SC300  Midsize       34.7   35.2
           51        Lincoln     Town_Car    Large       34.4   36.1
           18      Chevrolet     Corvette   Sporty       34.6   38.0
           47       Infiniti          Q45  Midsize       45.4   47.9
           58  Mercedes-Benz         300E  Midsize       43.8   61.9

               Max.Price  MPG.city  MPG.highway             AirBags  \
DriveTrain
4WD        55       21.7        18           24                None
           81       22.7        23           30         Driver only
           35       25.3        15           20         Driver only
           86       26.6        18           22         Driver only
           27       33.1        18           24         Driver only
Front      1        38.7        18           25  Driver & Passenger
           50       35.3        17           26  Driver & Passenger
           9        36.3        16           25         Driver only
           3        44.6        19           26  Driver & Passenger
           10       42.7        16           25  Driver & Passenger
Rear       49       35.6        18           23  Driver & Passenger
           51       37.8        18           26  Driver & Passenger
           18       41.5        17           25         Driver only
           47       50.4        17           22         Driver only
           58       80.0        19           25  Driver & Passenger

              DriveTrain  ... Passengers  Length  Wheelbase  Width  \
DriveTrain                ...
4WD        55        4WD  ...          7     190        110     72
           81        4WD  ...          5     179        102     67
           35        4WD  ...          7     176        119     72
           86        4WD  ...          7     187        113     71
           27        4WD  ...          4     180         97     72
Front      1       Front  ...          5     195        115     71
           50      Front  ...          6     205        109     73
           9       Front  ...          6     206        114     73
           3       Front  ...          6     193        106     70
           10      Front  ...          5     204        111     74
Rear       49       Rear  ...          4     191        106     71
           51       Rear  ...          6     219        117     77
           18       Rear  ...          2     179         96     74
           47       Rear  ...          5     200        113     72
           58       Rear  ...          5     187        110     69

               Turn.circle Rear.seat.room  Luggage.room  Weight   Origin  \
DriveTrain
4WD        55           39           27.5           NaN    3735  non-USA
           81           37           27.0          14.0    3085  non-USA
           35           45           30.0           NaN    3735      USA
           86           41           35.0           NaN    3785  non-USA
           27           40           20.0          11.0    3805      USA
Front      1            38           30.0          15.0    3560  non-USA
           50           42           30.0          19.0    3695      USA
           9            43           35.0          18.0    3620      USA
           3            37           31.0          17.0    3405  non-USA
           10           44           31.0          14.0    3935      USA
Rear       49           39           25.0           9.0    3515  non-USA
           51           45           31.5          22.0    4055      USA
           18           43            NaN           NaN    3380      USA
           47           42           29.0          15.0    4000  non-USA
           58           37           27.0          15.0    3525  non-USA

                              Make
DriveTrain
4WD        55            Mazda MPV
           81        Subaru Legacy
           35        Ford Aerostar
           86        Toyota Previa
           27        Dodge Stealth
Front      1          Acura Legend
           50  Lincoln Continental
           9      Cadillac DeVille
           3              Audi 100
           10     Cadillac Seville
Rear       49          Lexus SC300
           51     Lincoln Town_Car
           18   Chevrolet Corvette
           47         Infiniti Q45
           58   Mercedes-Benz 300E

[15 rows x 27 columns]

In [74]:
df4 = df.groupby('DriveTrain').apply(top5)

In [75]:
df5 = df4[['Manufacturer','Model','Price']]

In [76]:
df5

                Manufacturer        Model  Price
DriveTrain
4WD        55          Mazda          MPV   19.1
           81         Subaru       Legacy   19.5
           35           Ford     Aerostar   19.9
           86         Toyota       Previa   22.7
           27          Dodge      Stealth   25.8
Front      1           Acura       Legend   33.9
           50        Lincoln  Continental   34.3
           9        Cadillac      DeVille   34.7
           3            Audi          100   37.7
           10       Cadillac      Seville   40.1
Rear       49          Lexus        SC300   35.2
           51        Lincoln     Town_Car   36.1
           18      Chevrolet     Corvette   38.0
           47       Infiniti          Q45   47.9
           58  Mercedes-Benz         300E   61.9

In [80]:
df6 = df[df.DriveTrain=='4WD']['Model']

In [81]:
df6

16       Astro
25     Caravan
27     Stealth
35    Aerostar
55         MPV
71       Laser
79       Justy
80      Loyale
81      Legacy
86      Previa
Name: Model, dtype: object